# OpenAI API (used by OpenAI() in your code)
OPENAI_API_KEY= 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

# LinkedIn
LINKEDIN_EMAIL=deepikajandu2883@gmail.com
LINKEDIN_PASSWORD= 7424deepika

# Naukri
NAUKRI_EMAIL=deepikajandu2883@gmail.com
NAUKRI_PASSWORD= 7424Deepika@


# Wellfound
WELLFOUND_EMAIL=deepikajandu2883@gmail.com
WELLFOUND_PASSWORD= 7424Deepika@

# Phone number
PHONE_NUMBER=+916354945568