# OpenAI API (used by OpenAI() in your code)
OPENAI_API_KEY= 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

# LinkedIn
LINKEDIN_EMAIL=
LINKEDIN_PASSWORD= 
# Naukri
NAUKRI_EMAIL=
NAUKRI_PASSWORD=


# Wellfound
WELLFOUND_EMAIL=
WELLFOUND_PASSWORD=

# Phone number
PHONE_NUMBER=
